@import url(reset.css);

body{
    font-family: Noto Sans TC;
    font-style: normal;
    letter-spacing: .08rem;

}

h1{
    font-weight: 550;
    font-size: 45px;
    line-height: 126%;
    letter-spacing: 0.09em;
}

h2{
    font-weight: 400;
    font-size: 25px;
    line-height: 53px;
    letter-spacing: 0.09em;
}

.h2_sub{
    font-weight: 500;
    font-size: 22px;
    line-height: 126%; 
    letter-spacing: 0.09em;
}


h3{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.09em;
}

p{
    font-weight: 350;
    font-size: 18px;
    line-height: 136.52%;
    letter-spacing: 0.09em;
}

/* ----------- footer ----------- */
.footer{
    background-color: rgb(22, 36, 52);
    width: 100vw;
    display: flex;
    justify-content: center;
}

.logo{
    margin-top: 150px;
    margin-right: 100px;
}

.logo img{
    height: 35px;
    margin-bottom: 50px;
}

.logo li {
    margin-bottom: 15px;
}

.logo li i{
    font-size: 20px;
    color: white;
    margin-right: 15px;
}

.logo li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.footer_font{
    display: none;
}

.index_icon li a:hover{
    color:  rgb(45, 179, 255) ;
}

.serve-text{
    display: flex;
    margin-top: 130px;
    margin-bottom: 130px;
}

.serve-text ul{
    margin-right: 40px;
}

.serve-text li:nth-child(1){
    font-weight: 350;
    font-size: 18px;
    line-height: 30px;
    color: rgb(131, 131, 131);
}

.serve-text li{
    margin-top: 15px;
}

.serve-text a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
}

.serve-text a:hover{
    color:  rgb(45, 179, 255) ;
}


/* ############## mobile ############## */
@media screen and (max-width: 414px){

body{
    font-family: Noto Sans TC;
    font-style: normal;
    letter-spacing: .08rem;

}

h1{
    font-weight: 550;
    font-size: 40px;
    line-height: 126%;
    letter-spacing: 0.09em;
}

h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 53px;
    letter-spacing: 0.09em;
}

.h2_sub{
    font-weight: 500;
    font-size: 18px;
    line-height: 126%; 
    letter-spacing: 0.09em;
}


h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.09em;
}

p{
    font-weight: 350;
    font-size: 14px;
    line-height: 136.52%;
    letter-spacing: 0.09em;
}

/* ----------- mobile footer ----------- */

.logo{
    margin: 0;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: left;
}
.logo img{
    height: 25px;
    margin-bottom: 10px;
}

.index_icon{
    display: flex;
    justify-content: flex-start;
}

.logo li i{
    font-size: 16px;
    margin-right: 15px;
}

.logo li a{
    display: none;
}

.footer_font{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    cursor: pointer;
}

.logo .footer_el li{
}

.logo .sub{
    display: inline-block;
    font-weight: 0;
    font-size: 14px;
    color: white;
    line-height: 0;
    margin-right: 10px;
}

.serve-text{
    display: none;
}

}