@import url(reset.css);

body{
    font-family: Noto Sans TC;
    font-style: normal;
    letter-spacing: .08rem;

}

h1{
    font-weight: 550;
    font-size: 45px;
    letter-spacing: 0.09em;
}

h2{
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.09em;
}

.h2_sub{
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.09em;
}


h3{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.09em;
}

p{
    font-weight: 350;
    font-size: 18px;
    letter-spacing: 0.09em;
}
/* ----------- topbar ----------- */
.topbar{
    background-color: #ffffff;
    height: 80px;
}

.topbar_icon_mobile{
    display: none;
}

.topbar_el{
    /* border: 3px solid red; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.topbar img{
    height: 40px;
    padding-top: 15px;
}

.topbar ul{
    display: flex;
    gap: 30px;
}

.topbar li{
    flex-grow: 1;
}

.bar{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 60px;
}

.bar::after{
    position: absolute;
    top: 35px;
    left: 0;
    display: block;
    content: "";
    width: 0%;
    height: 3.5px;
    background-color: rgb(45, 179, 255);
    transition: .2s .1s;
}

.bar:hover::after{
    width: 100%;
}

.bar:hover{
    color: rgb(45, 179, 255);
}

.topbar_icon{
    font-size: 25px;
    cursor: pointer;
}

.topbar_icon ul{
    margin-top: 13px;
}

.topbar_icon li:hover{
    color: rgb(45, 179, 255);
}


/* ----------- footer ----------- */
.footer{
    background-color: rgb(22, 36, 52);
    width: 100vw;
    display: flex;
    justify-content: center;
}

.logo{
    margin-top: 150px;
    margin-right: 100px;
}

.logo img{
    height: 35px;
    margin-bottom: 50px;
}

.logo li {
    margin-bottom: 15px;
}

.logo li i{
    font-size: 20px;
    color: white;
    margin-right: 15px;
}

.logo li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.footer_font{
    display: none;
}

.index_icon li a:hover{
    color:  rgb(45, 179, 255) ;
}

.serve-text{
    display: flex;
    margin-top: 130px;
    margin-bottom: 130px;
}

.serve-text ul{
    margin-right: 40px;
}

.serve-text li:nth-child(1){
    font-weight: 350;
    font-size: 18px;
    line-height: 30px;
    color: rgb(131, 131, 131);
}

.serve-text li{
    margin-top: 15px;
}

.serve-text a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
}

.serve-text a:hover{
    color:  rgb(45, 179, 255) ;
}


/* ############## mobile ############## */
@media screen and (max-width: 414px){

body{
    font-family: Noto Sans TC;
    font-style: normal;
    letter-spacing: .08rem;
}

h1{
    font-weight: 550;
    font-size: 40px;
    letter-spacing: 0.09em;
}

h2{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.09em;
}

.h2_sub{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.09em;
}


h3{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.09em;
}

p{
    font-weight: 350;
    font-size: 14px;
    letter-spacing: 0.09em;
}

/* ----------- mobile topbar ----------- */
.topbar{
    background-color: #ffffff;
    height: 70px;}

.topbar_el{
    justify-content: flex-start;
    margin: 0 auto;
    gap: 85px;
}

.topbar img{
    height: 25px;
    padding: 0;
    margin-top: 27px;
}

.nav_el{
    position: fixed;
    position: absolute;
    background-color: #e6e6e6;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top: 70px;
    right: 0;
    display: none;
}

.burger{
    background-color: #000000;
    width: 20px;
    height: 2px;
    margin: auto;
    position: absolute;
    top: 35px;
    right: 30px;
}

.burger::before, .burger::after{
    content: "";
    background-color: #000000;
    width: 20px;
    height: 2px;
    margin: auto;
    position: absolute;
    transition: .5s .05s ease-in-out;
}

.burger::after{
    top: -6px;
}

.burger::before{
    top: 6px;
}

.burger.openbutton{
    transition: .1s .05s;
    width: 0;
}

.burger.open:before {
    transform: rotate(-45deg);
    top: 0;
    right: 0;
}
.burger.open:after {
    transform: rotate(45deg);
    top: 0;
    right: 0;
}

.nav_el ul{
    flex-direction: column;
    align-items: end;
    margin-right: 40px;
    margin-top: 40px;
    gap: 10px;
}

.nav_el li::after{
    margin-top: 65px;
    content: "";
    position: absolute;
    right: 0;
    width: 330px;
    height: 1.4px;
    background-color: rgba(20, 20, 20, 0.233);
    margin-right: 40px;
}

.topbar_icon{
    display: none;
}

.topbar_icon_mobile{
    display: block;
}

.topbar_icon_mobile ul{
    margin-top: 25px;
    margin-left: 20px;
    gap: 0;
}

.topbar_icon_mobile ul li i{
    font-size: 20px;
    margin-left: 10px;
}


/* ----------- mobile footer ----------- */
.logo{
    margin: 0;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: left;
}
.logo img{
    height: 25px;
    margin-bottom: 10px;
}

.index_icon{
    display: flex;
    justify-content: flex-start;
}

.logo li i{
    font-size: 16px;
    margin-right: 15px;
}

.logo li a{
    display: none;
}

.footer_font{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    cursor: pointer;
}

.logo .sub{
    display: inline-block;
    font-weight: 0;
    font-size: 14px;
    color: white;
    line-height: 0;
    margin-right: 10px;
}

.serve-text{
    display: none;
}

}