@import url(default.css);

/* ----------- introduce 第一格 ----------- */
.two{
    background-image: url(../img/banner/02.jpg);
    max-width: 80%;
    height: 600px;
    background-size: cover;
    background-position: right top 25%;
    margin: 0 auto;
}

.title-2{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    margin-left: 100px;
}

.title-2 h2{
    font-size: 50pt;
    font-weight: 700;
    letter-spacing: 0.11em;
    color: white;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255) ;
    -webkit-text-fill-color: transparent;
}

.title-2 h1{
    font-size: 100px;
    font-weight: 700;
    line-height: 108.5%;
    letter-spacing: 0.11em;
    color: white;
}

/* ----------- introduce 第一格按鈕 ----------- */
.one-button{
    background-color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    justify-content: center;
}

.one-button h2{
    margin-top: 25px;
    color: rgb(0, 0, 0);
}

.one-inside-button{
    margin-left: 50px;
    margin-top: 15px;
    display: flex;
}

.one-inside-button a{
    margin-left: 30px;
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.one-inside-button a:hover{
    background-color: rgb(45, 179, 255) ;
    color: white;
}

.one-inside-button h2{
    font-size: 20px;
    color: white;
    margin-top: 0;
}

/* ----------- introduce 第二格 ----------- */
.two-2{
    background-image : 
    linear-gradient(270deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 60%),
    url(../img/Function/02.jpg);
    background-size: cover, cover;
    background-position: right bottom, right 450px bottom -250px;
    max-width: 100%;
    height: 600px;
}

.two-two{
    /* border: 3px solid red; */
    max-width: 1200px;
    margin: 0 auto;
}

.two-2-icon{
    /* border: 3px solid red; */
    text-align: left;
    margin-left: 700px;
}

.two-2-icon h1{
    -webkit-text-stroke: 1.5px rgb(255, 255, 255) ;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
    padding-top: 100px;
}

.two-2-icon h2{
    color: white;
    margin-top: 30px;
    font-size: 22px;
    line-height: 1.6;
}

/* .two-2-icon ul{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 90px;
}

.two-2-icon li{
    display: flex;
    margin-top: 50px;
}

.two-2-icon h3{
    color: white;
    margin-top: 30px;
}

.two-2-icon i{
    color: white;
    font-size: 70px;
    margin-right: 30px;
} */

/* ----------- introduce 第三格 ----------- */
.two-3{
    background-image: url(../img/Function/03-3.jpg);
    width: 100vw;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 0 bottom -245px;
}

.aaa{
    /* border: 3px solid red; */
    max-width: 1200px;
    margin: 0 auto;
}

.two-3-text{
    padding-top: 100px;
}

.two-3-text h1{
    -webkit-text-stroke: 1.5px rgb(255, 255, 255) ;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
}

.two-3-text h2{
    margin-top: 30px;
    line-height: 1.4;
    color: white;
}

.two-3 img{
    display: none;
    width: 600px;
    margin-left: 100px;
}

/* ----------- introduce 第四格 ----------- */
.parent_block{
    position: relative;
    /* border: 3px solid red; */
}

.right_block{
    position: absolute;
    right: 50px;
    top: 150px;
}

.right_block .list{
    width: 8px;
    display: flex;
    flex-direction: column;
}

.right_block .list li{
    margin-bottom: 20px;
}

.right_block a.link{
    display: block;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(112, 112, 112, .5);
}

.right_block a.-on{
    background-color: rgba(255, 255, 255, 0.7);
}

#scroll_block{
    height: 700px;
    flex-grow: 1;
    overflow-y: auto;
    /* overflow: hidden; */
}

#left1{
    background-image: 
    linear-gradient(270deg, rgb(0, 0, 0) 20%, rgba(255, 255, 255, 0) 90%),
    url(../img/Function/04.jpg);
    max-width: 100%;
    height: 700px;
    background-size: 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, left -80px bottom -100px;
}

#left2{
    background-image: 
    linear-gradient(270deg, rgb(0, 0, 0) 20%, rgba(255, 255, 255, 0) 90%),
    url(../img/Function/05.jpg);
    max-width: 100%;
    height: 700px;
    background-size: 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, left -80px bottom -100px;
}

#left3{
    background-image: 
    linear-gradient(270deg, rgb(0, 0, 0) 20%, rgba(255, 255, 255, 0) 90%),
    url(../img/Function/06.jpg);
    max-width: 100%;
    height: 700px;
    background-size: 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, left -80px bottom -100px;
}

.two-4-text{
    /* border: 3px solid red; */
    max-width: 1200px;
    margin: auto;
    text-align: right;
}

.two-4-text h1{
    -webkit-text-stroke: 1.5px rgb(255, 255, 255) ;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
    padding-top: 130px;
}

.two-4-text h2{
    font-weight: 320;
    color: white;
    margin-top: 30px;
    font-size: 22px;
    line-height: 1.6;
}

/* ----------- introduce 第五格 ----------- */
.ccc{
    /* border: 3px solid red; */
    max-width: 1200px;
    height: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.two-5-text h1{
    margin-top: 80px;
    /* writing-mode: vertical-lr; */
    /* transform: rotate(180deg); */
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.4);
    -webkit-text-fill-color: transparent;
    color: rgb(217, 217, 217);
    font-size: 150px;
    position: absolute;
    left: 170px;
}

.two-5-img{
    position: relative;
    text-align: center;
    top: 150px;
}

.two-5-img li{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.two-5-img li:nth-child(1){
    border: 2px solid white;
    top: 80px;
    right: 220px;
    display: none;
}

.two-5-img li:nth-child(2){
    border: 2px solid white;
    top: 50px;
    left: 480px;
    display: none;
}

.two-5-img li:nth-child(3){
    border: 2px solid white;
    top: 160px;
    left: 250px;
    display: none;
}

.two-5-img li:nth-child(4){
    border: 2px solid white;
    top: 140px;
    right: 400px;
    display: none;
}

.two-5-img li:nth-child(5){
    border: 2px solid white;
    top: 200px;
    left: 420px;
    display: none;
}

.two-5-img li > img{
    height: 100%;
}

.two-5-function{
    margin-top: 130px;
}

.two-5-function ul{
    display: flex;
    justify-content: center;
    margin-top: 170px;
}

.two-5-function li{
    background-color: white;
    border: 2.5px solid rgb(45, 179, 255);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 100px;
    margin-right: 30px;
}

.two-5-function li i{
    display: block;
    border-radius: 50%;
    font-size: 45px;
    color:  rgb(45, 179, 255);
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.two-5-function li:hover{
    border: 2.5px solid rgb(208, 208, 208);
}

.two-5-function i:hover{
    color: rgb(208, 208, 208);
}

/* ----------- introduce 第六格 ----------- */
/* .ddd{
    max-width: 1200px;
    margin: 0 auto;
} */

.six{
    background-color: rgb(230, 230, 230);
    text-align: center;
    width: 100vw;
    height: 980px;
}

.six-text{
    padding-top: 100px;
}

.six-text p{
    max-width: 50%;
    margin: 30px auto;
    line-height: 1.6;
}

.tabs_list{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.tabs_item:nth-child(1){
    position: relative;
}

.tabs_item:nth-child(1)::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width:100% ;
    height: 3px;
    background-color: #0abdfe;
    transition: .3s;
}

.tabs_item:nth-child(1).tab2::before{
    left: 170px;
}

.tabs_item:nth-child(1).tab3::before{
    left: 340px;
}

.tabs_btn{
    /* border: 1px solid red; */
    padding-bottom: 10px;
    margin-top: 60px;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    color: #000;
    background-color: #ffffff00;
}

.tabs_btn.isactive {
    color: #0abdfe;
}

.tabs_content{
    display: none;
    height: 450px;
}

.tabs_content.isactive {
    display: block;
}

.tabs_content p{
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(135, 135, 135);
}

.tabs_content img{
    display: block;
    margin:auto;
    transform: rotateY(180deg);
    max-width: 800px;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* ----------- introduce 第六格下面按鈕 ----------- */
.six-button{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.six-button h2{
    margin-top: 25px;
    color: white;
}

.six-inside-button{
    margin-left: 50px;
    margin-top: 15px;
}

.six-inside-button a{
    margin-left: 30px;
    display: block;
    float: left;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: black;
    text-decoration: none;
}

.six-inside-button a:hover{
    background-color: rgb(45, 179, 255) ;
    color: white;
}

.six-inside-button h2{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-top: 0;
}

/* ----------- introduce 第七格 ----------- */
.seven ul{
    max-width: 100%;
    display: flex;
    overflow: hidden;
}

.seven li{
    overflow: hidden;
    width: 25%;
    background-size: cover;
    position: relative;
}

.seven li::before{
    content: "";
    background-image: 
    linear-gradient(to top,  rgba(45, 179, 255,1), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.seven li h2{
    height: 300px;
    position: relative;/*把自己定位為父層*/
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.seven img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: transform .4s ease-in-out;
}

.seven li:hover img{
    transform: scale(1.2);
}

/* ----------- introduce back to top ----------- */
a.back-to-top{
    display: block;
    position: fixed;
    z-index: 3;
}

.back-to-top{
    position: fixed;
    width: 50px;
    right: 30px;
    bottom: 30px;
}

/* ############## mobile ############## */
@media screen and (max-width: 414px){

/* ----------- introduce 第一格 ----------- */
.two{
    max-width: 100%;
    background-position: right -155px top 70px;
}

.title-2{
    margin-top: 40px;
    margin-left: 180px;
}

.title-2 h2{
    font-size: 40px;
    -webkit-text-stroke: 1px rgb(255, 255, 255) ;
}

.title-2 h1{
    font-size: 65px;
}

/* ----------- introduce 第一格按鈕 ----------- */
.one-button{
    width: 100vw;
    margin: 0 auto;
    height: 70px;
}

.one-button h2{
    font-size: 16px;
}

.one-inside-button{
    margin-left: 0;
}

.one-inside-button a{
    margin-left: 15px;
    width: 90px;
    height: 40px;
    line-height: 40px;
}

.one-inside-button h2{
    font-size: 13px;
}

/* ----------- introduce 第二格 ----------- */
.two-2{
    background-position: right bottom, right 820px bottom 0px;
    width: 100vw;
}

.two-2-icon{
    /* border: 3px solid red; */
    margin-left: 0px;
    padding-top: 430px;
    text-align: center;
}

.two-2-icon h1{
    -webkit-text-stroke: 1px rgb(255, 255, 255) ;
    font-size: 60px;
    padding-top: 0px;
}

.two-2-icon h2{
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
    padding-left: 40px;
}

/* ----------- introduce 第三格 ----------- */
.two-3{
    background-position: right -280px bottom 0;
}

.two-3-text{
    padding-top: 300px;
    margin-left: 40px;
    padding-top: 400px;
}

.two-3-text h1{
    -webkit-text-stroke: 1px rgb(255, 255, 255) ;
    font-size: 60px;
}

.two-3-text h2{
    font-size: 18px;
}

/* ----------- introduce 第四格 ----------- */
.right_block{
    right: 5px;
    top: 650px;
}

#scroll_block::-webkit-scrollbar{
    display: none;
}

.right_block .list{
    /* border: 3px solid red; */
    width: 370px;
    flex-direction: row;
}

.right_block .list li{
    margin-left: 10px;
}

.right_block a.link{
    width: 100px;
    height: 5px;
}

#left1{
    background-image: 
    url(../img/Function/04.jpg),
    linear-gradient(270deg, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0) 90%);
    width: 100vw;
    background-size: cover, cover;
    background-position: left -300px bottom 0, left bottom;
}

#left2{
    background-image: 
    url(../img/Function/05.jpg),
    linear-gradient(270deg, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0) 90%);
    width: 100vw;
    background-size: cover, cover;
    background-position: left -600px bottom 0, left bottom;
}

#left3{
    background-image: 
    url(../img/Function/06.jpg),
    linear-gradient(270deg, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0) 90%);
    width: 100vw;
    background-size: cover, cover;
    background-position: left -300px bottom 0, left bottom;
}

.two-4-text{
    padding-top: 320px;
    text-align: center;
}

.two-4-text h1{
    -webkit-text-stroke: 1px rgb(255, 255, 255) ;
    font-size: 60px;
}

.two-4-text h2{
    font-size: 18px;
}

/* ----------- introduce 第五格 ----------- */
.ccc{
    height: 400px;
    margin-bottom: 0;
}

.two-5-text h1{
    margin-top: 70px;
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.4);
    -webkit-text-fill-color: transparent;
    color: rgb(217, 217, 217);
    font-size: 50px;
    position: absolute;
    left: 30px;
}

.two-5-img{
    top: 100px;
}

.two-5-img img{
    max-width: 90%;
}

.two-5-img li{
    width: 70px;
    height: 70px;
}

.two-5-function ul{
    margin-top: 0;
}



.two-5-function li{
    /* border: 3px solid red; */
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.two-5-function li i{
    font-size: 25px;
    line-height: 50px;
}

.two-5-img li:nth-child(1){
    border: 2px solid white;
    top: 30px;
    right: 50px;
    display: none;
}

.two-5-img li:nth-child(2){
    border: 2px solid white;
    top: 20px;
    left: 150px;
    display: none;
}

.two-5-img li:nth-child(3){
    border: 2px solid white;
    top: 50px;
    left: 80px;
    display: none;
}

.two-5-img li:nth-child(4){
    border: 2px solid white;
    top: 30px;
    right: 120px;
    display: none;
}

.two-5-img li:nth-child(5){
    border: 2px solid white;
    top: 50px;
    left: 150px;
    display: none;
}

/* ----------- introduce 第六格 ----------- */
.six{
    height: 550px;
}

.six-text{
    padding-top: 50px;
}

.six-text p{
    max-width: 85%;
    margin: 20px auto;
    line-height: 1.6;
}

.tabs_list{
    gap: 5px;
}

.tabs_list h3{
    font-size: 14px;
}

.tabs_item:nth-child(1)::before{
    transition: .5s;
}

.tabs_item:nth-child(1).tab2::before{
    left: 107px;
}

.tabs_item:nth-child(1).tab3::before{
    left: 217px;
}

.tabs_btn{
    padding-bottom: 5px;
    margin-top: 30px;
}

.tabs_content{
    height: 190px;
}

.tabs_content p{
    width: 70%;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.tabs_content img{
    max-width: 90%;
    margin-top: 0;
    margin-bottom: 0;
}

/* ----------- introduce 第六格下面按鈕 ----------- */
.six-button{
    width: 100vw;
    margin: 0 auto;
    height: 70px;
    margin-top: 100px;
}

.six-button h2{
    font-size: 16px;
}

.six-inside-button{
    margin-left: 0;
}

.six-inside-button a{
    margin-left: 15px;
    width: 90px;
    height: 40px;
    line-height: 40px;
}

.six-inside-button h2{
    font-size: 13px;
}

/* ----------- introduce 第七格 ----------- */
.seven{
    display: none;
}

/* ----------- introduce back to top ----------- */
.back-to-top{
    width: 30px;
    right: 15px;
    bottom: 15px;
}

}