@import url("default.css");

.parent_block {
    border: 1px solid red;

}

.right_block {
    position: absolute;
    right: 10px;
    top: 10px;
    /* background-color: bisque; */
}

.list {
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    width: 16px;
}

.list li {

    height: 80px;
    cursor: pointer;
    background-color: rgba(255, 32, 32, 0.523);
}

.list li a {}



.bbb {
    /* border: 3px solid red; */
    max-width: 1200px;
    margin: auto;
}

.two-4 {
    /* border: 5px solid blue; */
    background-image:
        linear-gradient(270deg, rgb(0, 0, 0) 20%, rgba(255, 255, 255, 0) 90%),
        url(../img/Function/04.jpg);
    max-width: 100%;
    height: 700px;
    background-size: 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, left -80px bottom -100px;
}

.two-4-text {
    /* margin: 0px 360px; */
    text-align: right;
}

.two-4-text h1 {
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    -webkit-text-fill-color: transparent;
    font-size: 90px;
    padding-top: 130px;
}

.two-4-text h2 {
    font-weight: 320;
    color: white;
    margin-top: 30px;
    font-size: 22px;
    line-height: 1.6;
}